<form [formGroup]="myForm" (submit)="searchOrExit()">
  <md-input-container>
    <input mdInput placeholder="Group name" formControlName="groupName">
  </md-input-container>
  <button md-button><i class="material-icons">{{inside ? 'expand_less' : 'search'}}</i></button>
</form>

<button md-button (click)="add()" [hidden]="!inside">Add note</button>
<router-outlet></router-outlet>

<hr>

<div *ngFor="let note of (noteService.notes | recentFirst); let i = index" (click)="edit(note, i)" class="notes">
  <note [note]="note"></note>
</div>